---
layout: archive
---

        <ul class="nav nav-posts">
{% if paginator %}
{% for post in paginator.posts %}
          <li>
            <span class="post-date">{{ post.date | date: "%B %d, %Y" }} <i class="icon-calendar"></i></span>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
{% endfor %}
{% else %}
{% for post in site.posts %}
          <li>
            <span class="post-date">{{ post.date | date: "%B %d, %Y" }} <i class="icon-calendar"></i></span>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
{% endfor %}
{% endif %}
        </ul>
