---
layout: default
---

      <div class="row-fluid content content-archive">
{{ content }}
      </div>
{% if paginator.previous_page or paginator.next_page %}
      <!-- pagination -->
      <div class="row-fluid row-pagination">
        <ul class="pager">
{% if paginator.previous_page %}
          <li class="previous">
            <a href="{{ site.baseurl }}{% if paginator.previous_page_path %}blog/{{ paginator.previous_page_path }}{% else %}blog/{% endif %}">&laquo; Newer</a>
          </li>
{% endif %}
{% if paginator.next_page %}
          <li class="next">
            <a href="{{ site.baseurl }}blog/{{ paginator.next_page_path }}">Older &raquo;</a>
          </li>
{% endif %}
        </ul>
      </div>
{% endif %}
