---
layout: default
---

      <div class="row-fluid content content-text">
{% if page.title %}
        <h1 class="page-header">
{% if page.title_link %}
          <a href="{{ page.url }}">{{ page.title }}</a>
{% else %}
          {{ page.title }}
{% endif %}
        </h1>
{% endif %}
{{ content }}
        <ul class="content-details muted">
          <li title="Posted on">
            <i class="icon-calendar"></i> {{ page.date|date: "%B %d, %Y" }}
          </li>
          <li>
            <i class="icon-globe"></i> <a href="{{ site.url }}{{ page.url }}">Permalink</a>
          </li>
{% if page.author %}
          <li title="Posted by">
            <i class="icon-user"></i> {{ page.author }}
          </li>
{% endif %}
{% if page.tags != empty %}
          <li title="Tags" class="pull-right hidden-phone">
            <i class="icon-tags"></i>
{% for tag in page.tags %}
            <a href="/tag/?tag={{ tag }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
{% endfor %}
          </li>
{% endif %}
        </ul>
      </div>
